$cokibanMaxWidth: 600px;
$cokibanBackground: hsl(0, 0%, 100%);
$cokibanFont: hsl(0, 0%, 19%);
$cokibanFontFamily: system-ui, sans-serif;
$cokibanButton: hsl(0, 0%, 91%);
$cokibanButtonFont: $cokibanFont;
$cokibanButtonAccept: hsl(138, 59%, 32%);
$cokibanButtonAcceptFont: hsl(0, 0%, 100%);
$cokibanIconColor: hsl(32, 42%, 50%);

#cokiban { position: fixed; inset: 0; z-index: 999999; color: $cokibanFont; font-family: $cokibanFontFamily; font-size: 16px; background: rgba(#000, 0.5); opacity: 0; visibility: hidden; pointer-events: none; user-select: none; transition: all ease 200ms;
  p { margin: 0; }
  a { color: $cokibanFont; text-decoration: underline;
    &:focus,
    &:hover { text-decoration: none; }
  }
  button { padding: 0; color: $cokibanFont; text-decoration: underline; cursor: pointer; border: 0; appearance: none;
    &:focus,
    &:hover { text-decoration: none; }
  }
  .cokiban__invisible { display: none; }
  .cokiban__container { position: relative; max-width: $cokibanMaxWidth; margin: 0 auto; background: $cokibanBackground; padding: 1em; border-radius: 0.5em; box-shadow: 0 0 0.75em rgba(#000, 0.25); }
  .cokiban__banner { position: fixed; left: 0; bottom: 0; right: 0; overflow: scroll; max-height: 100%; padding: 0.25em; box-sizing: border-box; opacity: 0; visibility: hidden; pointer-events: none; user-select: none; transform: scale(0.9) translateY(1em); transform-origin: bottom; transition: all ease 300ms;
  }
  .cokiban__header { display: flex; align-items: center; }
  .cokiban__header__icon { margin-inline-end: 0.75em; fill: $cokibanIconColor; }
  .cokiban__header__title { font-size: 1.4em; font-weight: 600; text-transform: uppercase; }
  .cokiban__header__back { margin: 0 0 0 auto !important; }
  .cokiban__body { margin-block: 1em; }
  .cokiban__body__title { margin-block-end: 0.5em; }
  .cokiban__body__text { margin-block-end: 1em; }
  .cokiban__checkboxes { display: flex; flex-wrap: wrap; }
  .cokiban__checkbox {
    input { position: absolute; display: block; opacity: 0; }
    label { display: flex; align-items: center; padding: 0.25em 0; cursor: pointer;
      &::before { content: ''; display: block; height: 1.2em; width: 1.2em; margin-right: 0.25em; background: $cokibanFont; border-radius: 0.15em; }
    }
    input:checked + label {
      &::before { background-size: 0.9em; background-position: center center; background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23e9e9e9' d='m31.3 7.19-2.78-2.78a1.89 1.89 0 0 0 -1.4-.58 1.87 1.87 0 0 0 -1.39.58l-13.44 13.45-6-6a1.9 1.9 0 0 0 -1.39-.57 1.92 1.92 0 0 0 -1.4.57l-2.8 2.75a2 2 0 0 0 0 2.78l7.41 7.42 2.79 2.78a1.87 1.87 0 0 0 1.39.58 1.89 1.89 0 0 0 1.4-.58l2.78-2.78 14.83-14.81a1.91 1.91 0 0 0 .57-1.4 1.86 1.86 0 0 0 -.57-1.41z'/%3E%3C/svg%3E"); }
    }
    + .cokiban__checkbox { margin-inline-start: 0.75em; }
  }
  .cokiban__checkbox--checked {
    label { cursor: not-allowed;
      &::before { background: lighten($cokibanFont, 50); }
    }
  }
  .cokiban__group { position: relative;
    & + .cokiban__group { padding-block-start: 1em; border-top: 1px solid $cokibanButton; }
  }
  .cokiban__group__title { margin-block-end: 0.5em; }
  .cokiban__group__text { margin-block-end: 1em; }
  .cokiban__switch { position: absolute; top: 1em; right: 0.5em;
    input { position: absolute; display: block; opacity: 0; }
    label { display: flex; align-items: center; cursor: pointer;
      span { padding-right: 0.5em; color: lighten($cokibanFont, 20); font-size: 0.875em; }
      &::after { content: ''; display: block; height: 18px; width: 32px; background-color: lighten($cokibanFont, 40); background-repeat: no-repeat; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Ccircle fill='%23fff' cx='9' cy='9' r='7'/%3E%3C/svg%3E"); border-radius: 9px; transition: all ease 200ms; }
    }
    input:checked + label {
      &::after { background-color: $cokibanButtonAccept; background-position: right top; }
    }
  }
  .cokiban__cookie { position: relative; margin: .5em 0; padding: .5em; font-size: 0.875em; background : lighten($cokibanButton, 5); border: 1px solid $cokibanButton; border-radius: .25em; }
  .cokiban__cookie__title {}
  .cokiban__cookie__text {}
  .cokiban__buttons { display: flex; gap: 0.5em;
    > * { flex: 1; }
  }
  .cokiban__button { display: inline-block; padding: 0.75em 0.25em; color: $cokibanButtonFont; font: inherit; text-transform: none; text-decoration: none; cursor: pointer; background: $cokibanButton; border: 0; border-radius: 0.25em; outline: inherit; appearance: none; transition: all ease 200ms;
    &:focus,
    &:hover { background: darken($cokibanButton, 10); }
    &::before,
    &::after { content: none; }
  }
  .cokiban__button--acccept { color: $cokibanButtonAcceptFont; background: $cokibanButtonAccept;
    &:focus,
    &:hover { color: $cokibanButtonAcceptFont; background: darken($cokibanButtonAccept, 10) }
  }
  .cokiban__footer { margin-block-start: 1em;
    a,
    button { color: lighten($cokibanFont, 20); font-size: 0.875em;
      + a,
      + button { margin-inline-start: 0.5em; }
    }
  }
  &.cokiban--show { opacity: 1; visibility: visible; pointer-events: auto;
    .cokiban__banner { opacity: 1; visibility: visible; pointer-events: auto; -webkit-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; transform: scale(1) translateY(0); }
  }
}
