services:
  _defaults:
    autoconfigure: true
    autowire: true

  tdoescher\CokibanBundle\EventListener\ParseFrontendTemplateListener: ~
  tdoescher\CokibanBundle\EventListener\ReplaceInsertTagsListener: ~
