{% extends "@Contao/content_element/_base.html.twig" %}

{% set attributes = attributes.addClass(["content-cokiban-replacement", "content-#{type|replace({'_': '-'})}--replacement"]) %}

{% block content %}
  {% if background %}
    <div class="content-cokiban-replacement__background" style="background-image: url({{ background }})"></div>
  {% endif %}

  <div class="content-cokiban-replacement__text">
    <div class="rte">
      <p>{{ button }}</p>
      <p>{{ text }}</p>
    </div>
  </div>
{% endblock %}
